*{
    background-color:slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:lightsalmon;
    margin: 25px 25px 25px 25px;
    padding: 5px 5px 5px 5px;
    text-align: right;
}

.saludo{
    color: lightsalmon;
    margin: 25px 25px 25px 25px;
    padding: 10px 10px 10px 10px;
    border: 10px 10px 10px 10px;
    text-align: center;
}
p{
    font-size: 25px;
}
.titulo {
    text-align: center;
    font-size: 20px;
}
.texto {
    font-size: 15px;
    color: darkslategray;
}
.contacto {
    color: lightsalmon;
}
.margen{
    margin: 20px 20px 20px 20px;
}

a:link{
    color: coral;
}
a:visited{
    color: lightgray;
}